#before-you-queue.queue-area
  .queue
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />
    <img src="" alt="" title="" />

#before-you-about
  %p
    You:
    - if @you.located?
      - unless @you.reserved?
        = @you.address
      - else
        %span.blink [tracing]
    - else
      %span.blink [looking]
    (#{@you.ip_address})
